@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #sofiasans {
        font-family: 'Sofia Sans', sans-serif;
    }
}

/*      FONT RULES
font-family: 'Meow Script', cursive;
font-family: 'Sofia Sans', sans-serif;  
*/